<div class="block-nav">
    <div class="row">
  <!-- Jumbotron -->
  <div class="col-6">
    <div class="jumbotron text-center blue-grey lighten-5">

      <!-- Title -->
      <h2 class="card-title h2">Malaria</h2>

      <!-- Subtitle -->
      <p class="indigo-text my-4 font-weight-bold">Symptoms and Cause</p>

      <!-- Grid row -->
      <div class="row d-flex justify-content-center">

        <!-- Grid column -->
        <div class="col-xl-10 pb-2">

          <p class="card-text">Malaria is a disease caused by a parasite. The parasite is spread to humans through the bites of infected mosquitoes.
               People who have malaria usually feel very sick with a high fever and shaking chills. Some people who have malaria experience cycles of malaria "attacks." An attack usually starts with shivering and chills, 
               Malaria signs and symptoms typically begin within a few weeks after being bitten by an infected mosquito</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <hr class="my-4 pb-2">
      <button class="btn btn-indigo btn-rounded">Download <i class="fas fa-download ml-1"></i></button>

    </div>
    <!-- Jumbotron -->
  </div>
  <div class="col-6">
    <div class="jumbotron text-center blue-grey lighten-5">

        <!-- Title -->
        <h2 class="card-title h2">Malaria</h2>
  
        <!-- Subtitle -->
        <p class="indigo-text my-4 font-weight-bold">Precautions and Treatments</p>
  
        <!-- Grid row -->
        <div class="row d-flex justify-content-center">
  
          <!-- Grid column -->
          <div class="col-xl-10 pb-2">
  
            <p class="card-text"><b>Cover your skin.</b> Wear pants and long-sleeved shirts. Tuck in your shirt, and tuck pant legs into socks.<br>
                                <b>repellent to clothing.</b> Sprays containing permethrin are safe to apply to clothing.<br>
                                <b>Sleep under a net.</b> Bed nets, particularly those treated with insecticides, such as permethrin, help prevent mosquito bites while you are sleeping.</p>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
        <hr class="my-4 pb-2">
        <button class="btn btn-indigo btn-rounded">Download <i class="fas fa-download ml-1"></i></button>
  
      </div>
  
  </div>
</div>
</div>
