<div class="block-nav">
    <div class="row">
  <!-- Jumbotron -->
  <div class="col-6">
    <div class="jumbotron text-center blue-grey lighten-5">

      <!-- Title -->
      <h2 class="card-title h2">Mucormycosis(black fungus)</h2>

      <!-- Subtitle -->
      <p class="indigo-text my-4 font-weight-bold">Symptoms and Cause</p>

      <!-- Grid row -->
      <div class="row d-flex justify-content-center">

        <!-- Grid column -->
        <div class="col-xl-10 pb-2">

          <p class="card-text">The symptoms of mucormycosis depend on where in the body the fungus is growing. 1,4 Contact your healthcare provider if you have symptoms that you think are related to mucormycosis.
            Symptoms of rhinocerebral (sinus and brain) mucormycosis include:
            One-sided facial swelling
            Headache
            Nasal or sinus congestion
            Black lesions on nasal bridge or upper inside of mouth that quickly become more severe
            Fever</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <hr class="my-4 pb-2">
      <button class="btn btn-indigo btn-rounded">Download <i class="fas fa-download ml-1"></i></button>

    </div>
    <!-- Jumbotron -->
  </div>
  <div class="col-6">
    <div class="jumbotron text-center blue-grey lighten-5">

        <!-- Title -->
        <h2 class="card-title h2">Mucormycosis(black fungus)</h2>
  
        <!-- Subtitle -->
        <p class="indigo-text my-4 font-weight-bold">Precautions and Treatments</p>
  
        <!-- Grid row -->
        <div class="row d-flex justify-content-center">
  
          <!-- Grid column -->
          <div class="col-xl-10 pb-2">
  
            <p class="card-text"> It’s important to note that although these actions are recommended, they haven’t been proven to prevent mucormycosis.
                Try to avoid areas with a lot of dust like construction or excavation sites. If you can’t avoid these areas, wear an N95 respirator (a type of face mask) while you’re there. Click here for more information about respirators.
                Avoid direct contact with water-damaged buildings and flood water after hurricanes and natural disasters.</p>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
        <hr class="my-4 pb-2">
        <button class="btn btn-indigo btn-rounded">Download <i class="fas fa-download ml-1"></i></button>
  
      </div>
  
  </div>
</div>
</div>
