<!-- Home Page-->
<div>
 <div class="container-fluid block-home" [style.background-image]="GetUrlForAppImage()">
   <!-- <img src="../assets/HospitalImage.jpg" style="size: 30px;"/> -->
    <h3 style="color: white; size: 70;"> Dr. Chandrashekhar Varma</h3>
  </div>
 
  <!--Navbar-->
  <div class="block-nav">
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
<!-- sfdhdhdhdhd -->
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/" routerLinkActive="routerActive">
      Ch-Hospital
    </a>
  </mdb-navbar-brand>

  <mdb-icon fas icon="angle-left" size="lg" class="text-white mr-auto d-flex d-md-none align-self-center"></mdb-icon>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Diseases<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/disease/hypertension" routerLinkActive="routerActive">Hyper Tension</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/disease/diabetes" routerLinkActive="routerActive">Diabetes</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/disease/maleria" routerLinkActive="routerActive">Malaria</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/disease/tuborclosis" routerLinkActive="routerActive">Tuber Closis</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/disease/blackfungus" routerLinkActive="routerActive">Black Fungus</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/disease/otherdisease" routerLinkActive="routerActive">Something else</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/details" routerLinkActive="routerActive" mdbWavesEffect>About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/contactme" routerLinkActive="routerActive" mdbWavesEffect>Contact Me</a>
      </li>
    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </div>
    </form>
  </links>
  <!-- Collapsible content -->


</mdb-navbar>
</div>
<!--/.Navbar-->
  
</div>

  <router-outlet></router-outlet>


 <!-- Footer -->
 <div class="block-nav">
<footer class="page-footer font-small  pt-4" style="background-color: #3F51B5">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">You can catch me here</h5>
        <!-- Linkedin -->
        <a class="fa-lg p-2 m-2 li-ic">
          <mdb-icon fab icon="linkedin-in" class="white-text"></mdb-icon>
        </a>
        <!-- Twitter -->
        <a class="fa-lg p-2 m-2 tw-ic">
          <mdb-icon fab icon="twitter" class="white-text"></mdb-icon>
        </a>
        <!-- Dribbble -->
        <a class="fa-lg p-2 m-2 fb-ic">
          <mdb-icon fab icon="facebook-f" class="white-text"></mdb-icon>
        </a>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">My address</h5>
        <p>Dongargarh, Rajnandgaon (India)</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Dr. Chandrashekhar Verma</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
 </div>
<!-- Footer -->

