<div class="block-nav">
    <div class="container-fluid">
    <div class="row">
  <!-- Jumbotron -->
  
    <div class="jumbotron text-center blue-grey lighten-5">
        <div style="float: left; margin: 10px;">
        <img size="15" src="/../../../assets/chandrashekhar.jpg"/></div>
        <h2 class="card-title h2">About Me</h2>
        <p class="indigo-text my-4 font-weight-bold">Dr. Chandrashekhar Verma</p>
        <div class="row d-flex justify-content-center">

        <!-- Grid column -->
        <div class="col-xl-10 pb-2">

          <p class="card-text">Hey folks, How you guys doing..?
              Myself Chandrashekhar Verma. I am <b>MBBS</b> from GMC Rajnandgaon. Currently I am focusing on all the diseases and its treatment, So with the curiosity I have created this website. Please grab as much knowledge as you can.<br> <b>Thanks.</b> </p>

        </div>
        <!-- Grid column -->

      </div>
      </div>
      </div>
      </div>
      </div>