<div class="block-marquee">
  <marquee>Welcome to my channel </marquee>
</div>
<div class="block-nav">
  <div class="row" >
    <div class="col-6" style="width: 50%;">
      <!-- Jumbotron -->
      <div class="jumbotron jumbotron-fluid hoverable text-center  p-1" style="background-color: #3F51B5;">

        <!-- Title -->
        <h4 class="card-title white-text h4 pb-2"><strong>My Videos</strong></h4>

        <!-- Card image -->
        <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-carousel-item *ngFor="let item of cards; let i = index">
            <div class="view w-100">
              <img class="d-block w-100" [src]="item.img" alt="First slide">
              <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">{{item.name}}</h3>
              <p>{{item.description}}</p>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
        <!-- Card image /-->
        <h5 class="white-text h5 mb-4">Videos</h5>

        <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam.</p>
      </div>
      <!-- Jumbotron -->
      <!-- k -->

    </div>
    <div class="col-3" style="overflow:hidden;">
      <div class="divstyling">
          <strong style="color: black;">Top News</strong>
      </div>
      <div class="mat-card" style="height: 92%;position: absolute;overflow: hidden;" >
        <!-- Card -->
      
        <div style="position: relative;">
        <marquee direction = "up" scrollamount="15" height="30%" class="marquee" onmouseover="this.stop();" onmouseout="this.start();"  width="50%" >
        <mdb-card *ngFor = "let item of cards;" class="mat-card-content">
          <div class="view overlay waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img [src]="item.img" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Card Title</h4>
            </mdb-card-title>
      
            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </mdb-card-text>
      
            <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
          </mdb-card-body>
        </mdb-card>
     </marquee>
    </div>
       </div>
    </div>
    <div class="col-3" style="overflow:hidden;">
      <div class="divstyling" style="background-color: green !important;" >
        <strong style="color: black;">Announcements</strong>
      </div>
      <div class="mat-card" style="height: 92%;position: absolute;overflow: hidden;" >
        <!-- Card -->
        <div  style="position: relative;">
        <marquee direction = "up" scrollamount="15" class="marquee" onmouseover="this.stop();" onmouseout="this.start();"  width = "50%">
        <mdb-card *ngFor = "let item of cards;" class="mat-card-content">
          <div class="view overlay waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img [src]="item.img" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Card Title</h4>
            </mdb-card-title>
      
            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </mdb-card-text>
      
            <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
          </mdb-card-body>
        </mdb-card>
     </marquee>
    </div>
       </div>
    </div>
  </div>

</div>
