<div class="block-nav">
    <div class="row">
  <!-- Jumbotron -->
  <div class="col-6">
    <div class="jumbotron text-center blue-grey lighten-5">

      <!-- Title -->
      <h2 class="card-title h2">Tuberculosis</h2>

      <!-- Subtitle -->
      <p class="indigo-text my-4 font-weight-bold">Symptoms and Cause</p>

      <!-- Grid row -->
      <div class="row d-flex justify-content-center">

        <!-- Grid column -->
        <div class="col-xl-10 pb-2">

          <p class="card-text">Although your body can harbor the bacteria that cause tuberculosis, 
               Including the kidneys, spine or brain. When TB occurs outside your lungs, signs and symptoms vary according to the organs involved. For example, tuberculosis of the spine might cause back pain, and tuberculosis in your kidneys might cause blood in your urine.</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <hr class="my-4 pb-2">
      <button class="btn btn-indigo btn-rounded">Download <i class="fas fa-download ml-1"></i></button>

    </div>
    <!-- Jumbotron -->
  </div>
  <div class="col-6">
    <div class="jumbotron text-center blue-grey lighten-5">

        <!-- Title -->
        <h2 class="card-title h2">Tuberculosis</h2>
  
        <!-- Subtitle -->
        <p class="indigo-text my-4 font-weight-bold">Precautions and Treatments</p>
  
        <!-- Grid row -->
        <div class="row d-flex justify-content-center">
  
          <!-- Grid column -->
          <div class="col-xl-10 pb-2">
  
            <p class="card-text">If you test positive for latent TB infection, your doctor might advise you to take medications to reduce your risk of developing active tuberculosis. Only active TB is contagious.
                If you have active TB, it generally takes a few weeks of treatment with TB medications before you're not contagious anymore.</p>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
        <hr class="my-4 pb-2">
        <button class="btn btn-indigo btn-rounded">Download <i class="fas fa-download ml-1"></i></button>
  
      </div>
  
  </div>
</div>
</div>
